@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "GTWalsheim";
	src: url("/fonts/GTWalsheimPro-Thin.woff2");
	font-weight: 100;
}

@font-face {
	font-family: "GTWalsheim";
	src: url("/fonts/GTWalsheimPro-Regular.woff2");
	font-weight: 400;
}

@font-face {
	font-family: "GTWalsheim";
	src: url("/fonts/GTWalsheimPro-Medium.woff2");
	font-weight: 500;
}

@font-face {
	font-family: "GTWalsheim";
	src: url("/fonts/GTWalsheimPro-Bold.woff2");
	font-weight: 700;
}

*, *::before, *::after {
	font-family: 'GTWalsheim';
}

.input-float {
	@apply block relative h-[3.75rem];
	input {
		@apply input input-bordered rounded-[0.3125rem] !outline-none w-full h-full;
	}
	input+p {
		@apply absolute select-none px-0.5 origin-[0] start-1 translate-x-4 duration-100 text-gray-400 bg-white;
	}
	input:placeholder-shown+p {
		@apply top-1/2 -translate-y-1/2;
	}
	input:not(:placeholder-shown)+p, input:focus+p {
		@apply -top-3 translate-x-2 translate-y-0 scale-[.85];
	}
	input:focus+p{
		@apply text-neutral translate-x-2.5;
	}
}

.input-float2 {
	@apply block h-[3.75rem];
	input {
		@apply input input-bordered rounded-[0.3125rem] !outline-none w-full h-full bg-transparent;
	}
	input:focus, input:not(:placeholder-shown) {
		@apply border-t-0;
	}
	input+p {
		@apply ms-5 px-[1px] w-fit select-none duration-100 text-gray-500;
	}
	input:placeholder-shown+p {
		@apply -mt-10;
	}
	input:not(:placeholder-shown)+p, input:focus+p {
		@apply -mt-[4.5rem] ms-3;
	}
	input:focus+p {
		@apply ms-3.5 text-brand-black;
	}
}
