@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "GTWalsheim";
	src: url("/fonts/GTWalsheimPro-Thin.woff2");
	font-weight: 100;
}

@font-face {
	font-family: "GTWalsheim";
	src: url("/fonts/GTWalsheimPro-Regular.woff2");
	font-weight: 400;
}

@font-face {
	font-family: "GTWalsheim";
	src: url("/fonts/GTWalsheimPro-Medium.woff2");
	font-weight: 500;
}

@font-face {
	font-family: "GTWalsheim";
	src: url("/fonts/GTWalsheimPro-Bold.woff2");
	font-weight: 700;
}

@font-face {
	font-family: "CaveatBrush";
	src: url("/fonts/CaveatBrush.ttf");
}

*, *::before, *::after {
	font-family: 'GTWalsheim';
}
@layer utilities {
    
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; 
      scrollbar-width: none; 
    }
}

.input-float {
	@apply block relative h-[3.75rem];
	input {
		@apply input input-bordered rounded-[0.3125rem] !outline-none w-full h-full;
	}
	input+p {
		@apply absolute select-none px-0.5 origin-[0] start-1 translate-x-4 duration-100 text-gray-400 bg-white;
	}
	input:placeholder-shown+p {
		@apply top-1/2 -translate-y-1/2;
	}
	input:not(:placeholder-shown)+p, input:focus+p {
		@apply -top-3 translate-x-2 translate-y-0 scale-[.85];
	}
	input:focus+p{
		@apply text-neutral translate-x-2.5;
	}
}

.input-float2 {
	@apply block h-[3.75rem];
	input {
		@apply input input-bordered rounded-[0.3125rem] !outline-none w-full h-full bg-transparent;
	}
	input:focus, input:not(:placeholder-shown) {
		@apply border-t-0;
	}
	input+p {
		@apply ms-5 px-[1px] w-fit select-none duration-100 text-gray-500;
	}
	input:placeholder-shown+p {
		@apply -mt-10;
	}
	input:not(:placeholder-shown)+p, input:focus+p {
		@apply -mt-[4.5rem] ms-3;
	}
	input:focus+p {
		@apply ms-3.5 text-brand-black;
	}
}
 
.input-float3{
	@apply   overflow-hidden;
	input{
		@apply text-base text-black leading-5 w-full transition-all focus:outline-0 p-3 border border-[#E5E5E5] rounded-[5px] hover:border-brand-orange  duration-200 focus:border-b-[5px] focus:border-brand-orange pt-[20px]
	}
	input:not(:placeholder-shown)+label, input:focus+label{
		@apply text-[10px] -translate-y-7 text-[#838383]
	}
	label{
		@apply absolute top-1/2 left-3 text-base transform -translate-y-1/2 text-[#CCCCCC] transition-all duration-200 ease-linear
	}
}
.input-entry{
	@apply   overflow-hidden;
	input{
		@apply text-base text-black leading-5 w-full transition-all focus:outline-0 p-3 border border-[#E5E5E5] rounded-[5px] hover:border-brand-orange  duration-200 focus:border-b-[5px] focus:border-brand-orange pt-[20px]
	}
	input:not(:placeholder-shown)+label, input:focus+label{
		@apply text-[10px] -translate-y-7 text-[#838383]
	}
	label{
		@apply absolute top-1/2 left-3 text-base transform -translate-y-1/2 text-[#CCCCCC] transition-all duration-200 ease-linear
	}
}

.custom-scroll{
	&::-webkit-scrollbar {
		width: 4px;
	}
	&::-webkit-scrollbar-thumb {
		@apply bg-gray-300 rounded-xl
	}
}
