@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "GTWalsheim";
	src: url("/fonts/GTWalsheimPro-Thin.woff2");
	font-weight: 100;
}

@font-face {
	font-family: "GTWalsheim";
	src: url("/fonts/GTWalsheimPro-Regular.woff2");
	font-weight: 400;
}

@font-face {
	font-family: "GTWalsheim";
	src: url("/fonts/GTWalsheimPro-Medium.woff2");
	font-weight: 500;
}

@font-face {
	font-family: "GTWalsheim";
	src: url("/fonts/GTWalsheimPro-Bold.woff2");
	font-weight: 700;
}

*, *::before, *::after {
	font-family: 'GTWalsheim';
}
